.myOverlayClass {
    z-index: 10033;
    position: fixed;
    inset: 0;
    width: 100%;
    background: rgb(0 0 0 / 45%);
    height: 100%;
}

.closeicon button{
    border: 0;
    font-weight: 700;
    font-size: 21px;
    background: #00000000;
}

.myContentClass{
    animation: toDown .4s ease-in-out;
    position: absolute;
    inset: 50px;
    height: fit-content;
    pointer-events: painted !important;
    padding: 25px;
    background-color: var(--light-color);
    pointer-events: none;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

@keyframes toDown {
    0%   {top: -700px}
    100% {top: 150px;}
    }

@media (min-width: 768px){
    .myContentClass {
        inset: 150px;
        max-width: 75%;
        margin-right: auto;
        margin-left: auto;
    }
}

.main-model{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.modal-hading{
    color: var(--scend-color);
    text-align: center;
    font-size: 35px;
    font-weight: 600;
}

.marin-20tb{
    margin: 20px 0;
}

.input-m{
    height: 50px;
    padding: 0 20px;
    font-size: 14px;
    letter-spacing: 0px;
    font-weight: 400;
    width: 100%;
    border: none;
    border-radius: 0px;
    background: transparent;
    border: 3px solid #e5e5e5;
    color: #000;
    font-weight: 700;
    margin: 0 0 20px;
}

